<%- include("partials/header.ejs") %>
                    <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-fluid">
                        <div class="content flex-row-fluid" id="kt_content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="fw-bolder fs-1 pt-0">Danh Mục: <%= category %></div>
                                    <div class="row">
                                        <% info_category.forEach(function(item) { %>
                                        <% var episode = JSON.parse(item.m3u8); %>
                                        <div class="col-lg-2 col-6 item p-3">
                                            <a class="position-relative rounded" href="/phim/<%= item.slug %>/<%= episode[0].server_data[0].slug %>">
                                                <figure class="rounded">
                                                    <img class="bgi-no-repeat bgi-position-center bgi-size-cover w-100 h-225px h-sm-275px h-md-325px h-lg-350px" src="https://img.ophim1.com/uploads/movies/<%= item.thumb_url.split("/").pop() %>">
                                                </figure>
                                                <div class="icon_overlay"></div>
                                                <div class="movie-post-episode"><%= item.episode_current %></div>
                                                <div class="movie-post-title-box">
                                                    <div class="movie-post-title">
                                                        <h2 class="text-gray-800"><%= item.title %></h2>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <% }); %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<%- include("partials/footer.ejs") %>