<%- include("partials/header.ejs") %>
                    <div class="toolbar" id="kt_toolbar">
                        <div class="hero-new hero-after w-100">
                            <style>
                                :root {
                                    --color-bg-gradient: rgba(186, 137, 100, 0.2);
                                }
                            </style>
                            <div class="hero-new__background">
                                <div class="hero-new__background-image">
                                    <style>
                                        .hero-new__background-image {
                                            background-image: url(<%= film_banner.thumb_url %>);
                                        }
                                        
                                        @media (min-width: 760px) {
                                            .hero-new__background-image {
                                                background-image: url(<%= film_banner.poster_url %>);
                                            }
                                        }
                                    </style>
                                </div>
                            </div>
                            <div class="hero-new__content content-gutter--large content-center--large z-index-2">
                                <div class="hero-new__content-inner">
                                    <h1 class="fs-1x fw-bolder"><%= film_banner.title %></h1>
                                    <div class="info d-flex align-items-center text-gray-800 fs-6 my-3">
                                        <span class="vip-info"></span>
                                        <div class="broken-line"></div>
                                        <span><%= film_banner.film_time %></span>
                                        <div class="broken-line"></div>
                                        <span><%= film_banner.year_date %></span>
                                        <div class="broken-line"></div>
                                        <div class="rating-label me-2 checked">
                                            <i class="bi bi-star fs-2"></i>
                                        </div>
                                        <div class="rating-label me-2 checked">
                                            <i class="bi bi-star fs-2"></i>
                                        </div>
                                        <div class="rating-label me-2 checked">
                                            <i class="bi bi-star fs-2"></i>
                                        </div>
                                        <div class="rating-label me-2 checked">
                                            <i class="bi bi-star fs-2"></i>
                                        </div>
                                        <div class="rating-label me-2 checked">
                                            <i class="bi bi-star fs-2"></i>
                                        </div>
                                    </div>
                                    <div class="tag my-4 ">
                                        <% JSON.parse(film_banner.tags).forEach(function(item) { %>
                                            <span class="badge bg-tags fs-7 p-2"><%= item %></span>
                                        <% }); %>
                                    </div>
                                    <% var episode = JSON.parse(film_banner.m3u8); %>
                                    <p class="info-thumb text-gray-800"><%= film_banner.description %></p>
                                    <a class="themed-icon-button themed-icon-button--link themed-icon-button--arcane hero-new__button" href="/phim/<%= film_banner.slug %>/<%= episode[0].server_data[0].slug %>" data-kt-scroll-toggle>
                                        <span class="themed-icon-button__content">
                                            <div class="themed-icon-button__icon">
                                                <span class="icon">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M16.9 10.7L7 5V19L16.9 13.3C17.9 12.7 17.9 11.3 16.9 10.7Z" fill="#F0F0F0"/>
                                                    </svg>
                                                </span>
                                            </div>
                                            Xem Ngay
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-fluid content-item-home">
                        <div class="content flex-row-fluid" id="kt_content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="fw-bolder fs-1 pt-0">Thịnh hành</div>
                                    <div class="row slider list-movie-home">
                                        <% film_hot.forEach(function(item) { %>
                                        <% var episode = JSON.parse(item.m3u8); %>
                                        <div class="col-lg-1 item mb-5 p-3">
                                            <a class="position-relative d-inline-block rounded" href="/phim/<%= item.slug %>/<%= episode[0].server_data[0].slug %>">
                                                <figure class="rounded">
                                                    <img class="lazyLoad bgi-no-repeat bgi-position-center bgi-size-cover w-100 h-250px h-sm-275px h-md-275px h-lg-300px" data-src="<%= item.thumb_url %>" src="/assets/icons/lazy-load-movie.gif">
                                                </figure>
                                                <div class="icon_overlay"></div>
                                                <div class="movie-post-episode"><%= item.episode_current %></div>
                                                <div class="movie-post-title-box">
                                                    <div class="movie-post-title">
                                                        <h2 class="text-gray-800"><%= item.title %></h2>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <% }); %>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="fw-bolder fs-1 pt-0">Đề xuất cho bạn</div>
                                    <div class="row slider list-movie-home">
                                        <% film_dexuat.forEach(function(item) { %>
                                        <% var episode = JSON.parse(item.m3u8); %>
                                        <div class="col-lg-1 item mb-5 p-3">
                                            <a class="position-relative d-inline-block rounded" href="/phim/<%= item.slug %>/<%= episode[0].server_data[0].slug %>">
                                                <figure class="rounded">
                                                    <img class="lazyLoad bgi-no-repeat bgi-position-center bgi-size-cover w-100 h-250px h-sm-275px h-md-275px h-lg-300px" data-src="<%= item.thumb_url; %>" src="/assets/icons/lazy-load-movie.gif">
                                                </figure>
                                                <div class="icon_overlay"></div>
                                                <div class="movie-post-episode"><%= item.episode_current %></div>
                                                <div class="movie-post-title-box">
                                                    <div class="movie-post-title">
                                                        <h2 class="text-gray-800"><%= item.title %></h2>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <% }); %>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="fw-bolder fs-1 pt-0">Anime</div>
                                    <div class="row slider list-movie-home">
                                        <% anime.forEach(function(item) { %>
                                        <% var episode = JSON.parse(item.m3u8); %>
                                        <div class="col-lg-1 item mb-5 p-3">
                                            <a class="position-relative rounded" href="/phim/<%= item.slug %>/<%= episode[0].server_data[0].slug %>">
                                                <figure class="rounded">
                                                    <img class="lazyLoad bgi-no-repeat bgi-position-center bgi-size-cover w-100 h-250px h-sm-275px h-md-275px h-lg-300px" data-src="<%= item.thumb_url; %>" src="/assets/icons/lazy-load-movie.gif">
                                                </figure>
                                                <div class="icon_overlay"></div>
                                                <div class="movie-post-episode"><%= item.episode_current %></div>
                                                <div class="movie-post-title-box">
                                                    <div class="movie-post-title">
                                                        <h2 class="text-gray-800"><%= item.title %></h2>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <% }); %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<%- include("partials/footer.ejs") %>